.about-page{
    display: flex;
    flex-wrap: wrap;
    .cubespinner{
        margin-top: -33%;
        margin-left: 80%;
        transform-origin: 50px 50px 0;
        div{
            width: 100px;
            height: 100px;
            font-size: 50px;
            box-shadow: 0 0 10px 0px lightyellow;
        }

        .face1{
            transform: translateZ(50px);
        }
        .face2{
            transform: rotateY(90deg) translateZ(50px);
        }
        .face3{
            transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
        }
        .face4{
            transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
        }
        .face5{
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
        }
        .face6{
            transform: rotateX(-90deg) translateZ(50px);
        }
    }
}
@media (max-width:879px){
    .about-page{
        .text-zone{
            h1{
                white-space: nowrap;
                font-size: 4rem;
            }
        }
    }
    .state-cube-cont{
        overflow: visible;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0%;
        margin: auto;
        transform: translateX(-10px) translateY(50px);
       }
}